{{ define "main" }}
<div class="main-content">
  <div class="posts">
    {{ $paginator := .Paginate .Site.RegularPages }}
    {{ range $paginator.Pages }}
    <article class="post">
      <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h2>
      <div class="post-summary">
        {{ .Summary }}
        {{ if .Truncated }}
        <a href="{{ .Permalink }}">Read More…</a>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</div>
{{ end }}